.top-container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.top-left{
width: 500px;
}

.home-img{
width: 300px;
}

.select-container{
    display: flex;
    flex-direction: row;
}